<div #folderscontainer
     class="container full-height"
     [pop-over-trigger]="foldersPopover"
     (document:contextmenu)="handleContextMenu($event, foldersPopover);"
     (contextmenu)="handleContextMenu($event, foldersPopover);">
  <app-folder *ngFor="let folder of _folderManager.folder.children;"
              [folderManager]="_folderManager"
              [folder]="folder">
  </app-folder>
</div>

<pop-over #foldersPopover
          [my]="'top left'"
          [at]="'bottom right'">
  <div class="list-group pop-over-content z-depth-2">
    <button type="button" class="list-group-item list-group-item-action pop-over-button"
            (click)="_folderManager.createNewFolder(); foldersPopover.hide();">New folder</button>
    <button type="button" class="list-group-item list-group-item-action pop-over-button"
            [ngClass]="{ 'disabled': !_folderManager.canPaste() }"
            (click)="_folderManager.paste(); foldersPopover.hide();">Paste</button>
  </div>
</pop-over>
