.folder-container {
  float: left;
  max-width: 90px;
  margin: 10px;
  background-color: LightGrey;
}

.folder-image-container {
  padding: 0% 20% 0% 20%;
}

.folder-text-container {
  max-height: 90px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}
