<div dnd-droppable
     [dropEnabled]="isDroppable"
     [pop-over-trigger]="folderPopover"
     (onDropSuccess)="onDrop($event)"
     (dblclick)="folderManager.stepForward(folder);"
     (document:contextmenu)="handleContextMenu($event, folderPopover);"
     (contextmenu)="handleContextMenu($event, folderPopover);">
  <div class="folder-container"
       dnd-draggable
       [dragEnabled]="true"
       [dragData]="folder"
       (dragstart)="onDragStart();"
       (dragend)="onDragEnd();">
    <div>
      <div class="folder-image-container">
        <img class="img-responsive img-non-draggable"
             src="assets/images/folder.png"
             alt="">
      </div>
      <div class="folder-text-container">{{ folder.name }}</div>
    </div>
  </div>
</div>


<pop-over #folderPopover
          [my]="'top left'"
          [at]="'bottom right'">
  <div class="list-group pop-over-content z-depth-2">
    <button type="button" class="list-group-item list-group-item-action pop-over-button"
            (click)="foldername.show($event); folderPopover.hide();">Rename</button>
    <button type="button" class="list-group-item list-group-item-action pop-over-button"
            (click)="folderManager.copy(folder); folderPopover.hide();">Copy</button>
    <button type="button" class="list-group-item list-group-item-action pop-over-button"
            (click)="folderManager.cut(folder); folderPopover.hide();">Cut</button>
    <button type="button" class="list-group-item list-group-item-action pop-over-button"
            (click)="folderManager.delete(folder); folderPopover.hide();">Delete</button>
  </div>
</pop-over>

<app-folder-name #foldername (action)="renameFolder($event);" [actionText]="'Rename'" [folderManager]="folderManager"></app-folder-name>
