<div dnd-droppable
     [dropEnabled]="isDroppable"
     (onDropSuccess)="onDrop($event)"
     [pop-over-trigger]="folderPopover"
     (contextmenu)="showPopover($event, folderPopover)">
  <div class="folder-container"
       dnd-draggable
       [dragEnabled]="true"
       [dragData]="folder"
       (dragstart)="onDragStart();"
       (dragend)="onDragEnd();"
       (document:click)="handleClick($event);"
       (dblclick)="folderManager.stepForward(folder)">
    <div>
      <div class="folder-image-container">
        <img class="img-responsive img-non-draggable"
             src="http://www.myiconfinder.com/uploads/iconsets/4f94676102875105a45813863830795d-folder.png"
             alt="">
      </div>
      <div class="folder-text-container">{{ getName() }}</div>
    </div>
  </div>
</div>


<pop-over #folderPopover
          [my]="'top left'"
          [at]="'bottom right'">
  <div class="list-group pop-over-content">

    <button type="button" class="list-group-item list-group-item-action pop-over-button">Cut</button>
    <button type="button" class="list-group-item list-group-item-action pop-over-button">Copy</button>
    <button type="button" class="list-group-item list-group-item-action pop-over-button">Paste</button>
    <button type="button" class="list-group-item list-group-item-action pop-over-button">Delete</button>
  </div>
</pop-over>
